
/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'Digital';
    src:url('fonts\\original_Animaletters.woff');
}
h1{
  font-face: "Digital";
  letter-spacing: 4px;
  padding-right: 20%;
  float: none;
  text-align: center;
  font-weight: bolder;
}

legend.aunNo{
  text-align: center;
}

.banner{
    width: 50%;
    padding-top: 15px;

    border-radius: 15px;
    border-image-width: 30px;
    float: inherit;
}



.boton{

    border-radius: 5px;
    background-color: #33cc59;
}

body {
    background-image: url("C:\\xampp\\htdocs\\VeterinariaWeb\\img\\banner2.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 40px;
    color: #5a5a5a;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 3;
}


h3{
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 5px 2px 4px grey;
}

.divForm{
    align-content: center;
    float: inherit;
    border: 2px solid green;
    border-radius: 4px;
    background-color: Bluesky;
}

.panelForm{
    align-self: left;
    align-content: center;
    float: left;
}

a:hover{
  color: red;
}
