
.banner{
    width: 20%;    
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 50px;
    border-radius: 15px;
    border-image-width: 30px;
    float: left;
    align-self: center;

}

.boton{

    border-radius: 5px;
    background-color: #33cc59;
}

.divForm{
    float: inherit;
    border: 2px solid green;
    border-radius: 4px;
}

.panelForm{
    align-self: left;
    align-content: inherit;
    float: left;
}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 3;
}

